*{
    padding: 0;
    margin: 0;
}

p{
    margin-bottom: 20px;
}

body{
    min-height: 400px;
    margin-bottom: 300px;
    clear: both;
}

.fondo__Home{
    background-image: url("../assets/imagenes/fondo2.jpg");
    background-size: auto;
}

.fondo__Pages{
    background-image: url("../assets/imagenes/fondo2.jpg");
    background-size: auto;

}

.logo{
    height: auto;
    width: auto;
    float: left;
}

.text{
    height: auto;
    width: auto;
    float: left;
    padding-top: 12px;
    padding-left: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}


header{
    background: rgb(255, 255, 255);
    width: 100%;
    position: fixed;
    z-index: 100;
}

.menu{
    float: right;
    padding-right: 100px;
}

.menu ul{
    list-style: none;
    overflow: hidden;  
}

.menu ul li{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-align: right;
}

.menu ul li a{
    display: block;
    padding: 20px;
    color: black;
    text-decoration: none;
    
}

.menu ul li:hover{
    background: #c22323;
}

/*HOME*/

#imagesMain{
    position:relative;
    display: inline-block;
    width:100%;
    margin-top:40px;
    text-align:center;
}

#imagesMain img{
    margin-left:-4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
}

.parrafo__Home{
    display: inline-block;
    padding-left: 800px;
    font-family: Arial, Helvetica, sans-serif;  
}

.texto__Home{
    display: inline-block ;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;   
}

/*PERROS*/
#imagesPerros{
    position:relative;
    display: inline-block;
    width:100%;
    margin-top:40px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}
#imagesPerros img{
    margin-left:-4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
}




/*GATOS*/
#imagesGatos{
    position:relative;
    display: inline-block;
    width:100%;
    margin-top:40px;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
}

#imagesGatos img{
    margin-left:-4px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 4px;
}


/*NOSOTROS*/
.titulo__Nosotros{
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    font-size: 30px;
}

.parrafo__Nosotros{
    font-family: Arial, Helvetica, sans-serif; 
    text-align: center;
    font-size: 20px;
    
}

.parrafo__Nosotros2{
    font-family: Arial, Helvetica, sans-serif; 
    text-align: left;
    font-size: 30px;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

.gmap_canvas{
    padding-left: 100px;
}

/*CONTACTO*/

.titulo__Contacto{
    padding-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-style: oblique;

}

.texto__Contacto{
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-size: large;
}

form{
    border: 10px solid black;
    border-style: double;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 0px;
    padding-bottom: 10px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-style: italic;
    font-weight: bold;
}


/*Footer*/

footer{
    background-color: white;
    padding-left: 20px;
    padding-right: 1492px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: left;
    bottom: 0;
    position: fixed; 
}





























